{% extends 'base.html.twig' %}

{% block title %}Edit Character{% endblock %}

{% block body %}
    <h2 class="text-center mt-5 pt-3 border-top">Modifier un personnage</h2>


    {{ include('character/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('character_index') }}">back to list</a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
