{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}

    <h2 class="text-center mt-5 pt-3 border-top">Personnages</h2>
    <div class="my-3 text-center">
        <a href="{{ path('character_new') }}" class="btn btn-success btn-md"><i class="fa fa-plus"></i></a>
    </div>
    <div class="pt-5 row">
        {% for character in characters %}
            <div class="col-lg-3">
                {{ include('character/card.html.twig', {character: character}) }}
            </div>
        {% else %}
            <span>Aucun personnage disponible</span>
            <small>Créez en un ;)</small>
        {% endfor %}
    </div>

{% endblock %}
