{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block body %}
    <h2 class="text-center mt-5 pt-3 border-top">Créer un nouveau personnage</h2>

    {{ include('character/_form.html.twig') }}

    <a href="{{ path('character_index') }}">back to list</a>
{% endblock %}
