.bg-master {
    background-color: #19160e;
}
.bg-master-soft {
    background-color: #3c4552;
}
.bg-main {
    background-color: #f9e8ea;
}
.bg-disabled {
    background-color:  rgb(240, 240, 240);
}
.txt-main {
    color: #f89ea7 !important;
}
.txt-blue {
    color: #1b88d7aa;
}
.txt-white {
    color: #fff9;
}

.font-family {
    font-family: Ubuntu, 'sans-serif';
}
.font-code {
    font-family: monospace;
}

.full-body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
}
.full {
    display: block;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}
.full-h {
    height: 100%;
    min-height: 100vh;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-y {
    display: flex;
    align-items: center;
}
.flex-center-x {
    display: flex;
    justify-content: center;
}
.flex-center-btw {
    display: flex;
    justify-content: space-between;
}
.flex-center-aro {
    display: flex;
    justify-content: space-around;
}
.flex-center-eve {
    display: flex;
    justify-content: space-evenly;
}
.flex-end {
    display: flex;
    justify-content: end;
}
.w-content {
    width: fit-content;
}

a.card-a {
    text-decoration: none;
    color: #ffffff;
}
a.card-a:hover {
    color: #e83232;
}
a.disabled{
    pointer-events: none;
    cursor: default;
    color: #8f5f5f;
}

.media-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dark-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0005;
    opacity: 0;
    transition-duration: .3s;
}
.dark-hover:hover {
    opacity: 1;
}